<header class="c-header" data-module-navigation="main">
    <nav class="c-header_wrapper">
        <a class="c-header_name js-header {{ if not .IsHome }}c-header_name--appear{{ end }}" href="{{ "/" | absLangURL }}">Gabriel Cuallado</a>
        <ul class="c-header_nav">
            {{ $currentPage := . }}
            
            {{ $isHome := .IsHome  }}
            {{ range .Site.Menus.header }}
                <li class="c-header_item c-header_item--about js-header">
                    {{ $isMenuCurrent := eq (.URL | absLangURL ) ($currentPage.Permalink | absLangURL) }}
                    <a class="c-header_link" href="{{.URL | absLangURL}}" data-link="menu"><span><span>{{ .Name }}</span></span></a>                    
                </li>
            {{ end }}

            <li class="c-header_item c-header_item--nav a js-menu" data-navigation="menuToogle">
                <span class="c-header_item--nav_bar js-header-bar"></span>
                <span class="c-header_item--nav_bar js-header-bar"></span>
            </li>
        </ul>
  

        <ul class="c-header_nav c-header_nav--langs">
            {{ $currentLang := .Site.Language.Lang }}
            {{ if eq .Lang "en"}}
                <!-- liste des langue en ordre => toujours anglais devant d'ou le if -->
                <li class="c-header_item c-header_nav--langs_item js-header"><a class="c-header_nav--langs_item_link {{ if eq $currentLang .Lang }} c-header_nav--langs_item_link--current {{ end }}" href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
                {{ range .Translations }}
                    <li class="c-header_item c-header_nav--langs_item js-header"><a class="c-header_nav--langs_item_link {{ if eq $currentLang .Lang }} c-header_nav--langs_item_link--current {{ end }}" href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
                {{ end}}
            {{ end }}
            {{ if eq .Lang "es"}}
                <!-- liste des langue en ordre => toujours espanol milleur d'ou le double range + if -->
                {{ range .Translations }}
                    {{ if eq .Lang "en"}}
                        <li class="c-header_item c-header_nav--langs_item js-header"><a class="c-header_nav--langs_item_link {{ if eq $currentLang .Lang }} c-header_nav--langs_item_link--current {{ end }}" href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
                    {{ end }}
                {{ end}}
                <li class="c-header_item c-header_nav--langs_item js-header"><a class="c-header_nav--langs_item_link {{ if eq $currentLang .Lang }} c-header_nav--langs_item_link--current {{ end }}" href="{{ .URL | absURL}}">{{ .Lang }}</a></li> 
                {{ range .Translations }}
                    {{ if eq .Lang "fr"}}
                        <li class="c-header_item c-header_nav--langs_item"><a class="c-header_nav--langs_item_link {{ if eq $currentLang .Lang }} c-header_nav--langs_item_link--current {{ end }}" href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
                    {{ end }}
                {{ end}}
            {{ end }}
            {{ if eq .Lang "fr"}}
                <!-- liste des langue en ordre => toujours francais derière d'ou le if -->
                {{ range .Translations }}
                    <li class="c-header_item c-header_nav--langs_item js-header"><a class="c-header_nav--langs_item_link {{ if eq $currentLang .Lang }} c-header_nav--langs_item_link--current {{ end }}" href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
                {{ end}}
                <li class="c-header_item c-header_nav--langs_item js-header"><a class="c-header_nav--langs_item_link {{ if eq $currentLang .Lang }} c-header_nav--langs_item_link--current {{ end }}" href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
            {{ end }}

            
            
        </ul>

        {{ block "navigation" . }}
        <!-- default nav -->
            {{ partial "navigation.html" . }}
        {{ end }}
    </nav>
</header>