<nav class="c-nav" data-navigation="menu">

    <div class="c-nav_title">GABRIEL CUALLADO</div>
    <!-- <div class="c-nav_close">close</div> -->
    <div class="c-nav_wrapper">
    <ul class="c-nav_mainlist c-nav_list">
        <li class="c-nav_mainlist_item"><a class="c-nav_mainlist_item_link c-nav_link" href="{{ "/" | absLangURL }}"><span><span>{{ i18n "Homepage" }}</span></span></a></li>

    {{ range .Site.Menus.main }}
        {{ if .HasChildren }} 
            <li class="c-nav_mainlist_item" data-navigation="submenuToogle"><span class="c-nav_mainlist_item_link c-nav_link" ><span><span>{{ .Name }}</span></span></span></li>
            <li class="js-menuchildren">
                <ul class="c-nav_mainlist_children" data-open="false">
                {{ range .Children }}
                    <li class="c-nav_mainlist_child"><a class="c-nav_mainlist_child_link c-nav_link--simple" href="{{.URL | absLangURL}}">{{ .Name }}</a></li>
                {{ end}}
                </ul>
            </li>
        {{ else if  (eq .Identifier "Gallery") }}
        <li class="c-nav_mainlist_item" data-navigation="submenuToogle"><span class="c-nav_mainlist_item_link c-nav_link" ><span><span>{{ .Name }}</span></span></span></li>
        <li class="js-menuchildren">
            <ul class="c-nav_mainlist_children" data-open="false">
            {{ range $.Site.Menus.serie }}
                <li class="c-nav_mainlist_child"><a class="c-nav_mainlist_child_link c-nav_link--simple" href="{{.URL | absLangURL}}">{{ .Name }}</a></li>
            {{ end }}
            </ul>
        </li>

        {{ else }}
            <li class="c-nav_mainlist_item"><a class="c-nav_mainlist_item_link c-nav_link" href="{{.URL | absLangURL}}"><span><span>{{ .Name }}</span></span></a></li>
        {{end}} 
    {{ end }}
    </ul>

    <!-- langues disponibles -->
    <div class="c-nav_openlist c-nav_list">
        <span class="c-nav_openlist_title c-nav_link">{{ i18n "Language" }}</span>
        <ul class="c-nav_openlist_items">
            {{ if eq .Lang "en"}}
                <!-- liste des langue en ordre => toujours anglais devant d'ou le if -->
                <li class="c-nav_lang"><a class="c-nav_lang_link" href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
                {{ range .Translations }}
                    <li class="c-nav_lang"><a class="c-nav_lang_link" href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
                {{ end}}
            {{ end }}
            {{ if eq .Lang "es"}}
                <!-- liste des langue en ordre => toujours espanol milleur d'ou le double range + if -->
                {{ range .Translations }}
                    {{ if eq .Lang "en"}}
                        <li class="c-nav_lang"><a class="c-nav_lang_link" href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
                    {{ end }}
                {{ end}}
                <li class="c-nav_lang"><a class="c-nav_lang_link" href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
                {{ range .Translations }}
                    {{ if eq .Lang "fr"}}
                        <li class="c-nav_lang"><a class="c-nav_lang_link" href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
                    {{ end }}
                {{ end}}
            {{ end }}
            {{ if eq .Lang "fr"}}
                <!-- liste des langue en ordre => toujours francais derière d'ou le if -->
                {{ range .Translations }}
                    <li class="c-nav_lang"><a class="c-nav_lang_link" href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
                {{ end}}
                <li class="c-nav_lang"><a class="c-nav_lang_link" href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
            {{ end }}
        </ul>
    </div>

     <!-- Second menu -->
    <ul class="c-nav_secondlist c-nav_list">

        {{ $data := index .Site.Data .Site.Language.Lang }}
        
        {{ range $data.links.link }}
            <li class="c-nav_secondlist_item"><a class="c-nav_secondlist_item_link c-nav_link" href="{{ .website }}">{{ .name }}</a></a></li>
        {{ end }}

    </ul>
    <p class="c-nav_credits">© SOFIA LAMBROU — DE JAUNE ET DE BLEU {{ now.Format "2006"}}, ALL RIGHTS RESERVED</p>
    </div>

</nav>