
<ul>
    <li class="menu-nav__list__item"><a href="{{ "/" | absLangURL }}">Homepage</a></li>
    <li class="menu-nav__list__item"><a href="{{ "serie1" | absLangURL }}">Gallery</a></li>
{{ range .Site.Menus.main }}
    <li class="menu-nav__list__item"><a href="{{.URL | absLangURL}}">{{ .Name }}</a></li>
{{ end }}
</ul>
<ul>
{{ range .Site.Menus.secondary }}
    <li class="menu-nav__list__item"><a href="{{.URL | absLangURL}}">{{ .Name }}</a></li>
{{ end }}
</ul>

 <!-- langues disponibles -->
<ul>
    {{ if eq .Lang "en"}}
        <!-- liste des langue en ordre => toujours anglais devant d'ou le if -->
        <li class="menu-nav__lang"><a href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
        {{ range .Translations }}
            <li class="menu-nav__lang"><a href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
        {{ end}}
    {{ end }}
    {{ if eq .Lang "es"}}
        <!-- liste des langue en ordre => toujours espanol milleur d'ou le double range + if -->
        {{ range .Translations }}
            {{ if eq .Lang "en"}}
                <li class="menu-nav__lang"><a href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
            {{ end }}
        {{ end}}
        <li class="menu-nav__lang"><a href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
        {{ range .Translations }}
            {{ if eq .Lang "fr"}}
                <li class="menu-nav__lang"><a href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
            {{ end }}
        {{ end}}
    {{ end }}
    {{ if eq .Lang "fr"}}
        <!-- liste des langue en ordre => toujours francais derière d'ou le if -->
        {{ range .Translations }}
            <li class="menu-nav__lang"><a href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
        {{ end}}
        <li class="menu-nav__lang"><a href="{{ .URL | absURL}}">{{ .Lang }}</a></li>
    {{ end }}
</ul>