<section class="c-photo js-photo-section">
    <!-- <canvas class="c-photo_canvas"></canvas> -->
    <svg viewBox="0 0 600 600" class="c-photo_svg" data-serie="svg">
        <image filter='url(#noise-{{ replaceRE "(\\s)" "" .Title }})' data-serie="zoom" class="distort__img o-img js-photo-zoom" x="0" y="0" href="#" height="100%"/>

        <filter id='noise-{{ replaceRE "(\\s)" "" .Title }}' x='0%' y='0%' width='100%' height='100%' >
            <feColorMatrix type="matrix" in="SourceGraphic" values=".33 .33 .33 0 0
                                                          .33 .33 .33 0 0
                                                          .33 .33 .33 0 0
                                                          0 0 0 1 0">
            </feColorMatrix>
            <feTurbulence type="fractalNoise" baseFrequency="0.01" result="NOISE" numOctaves="1"/>
            <feDisplacementMap class="js-photo-feDisplacementMap" in="SourceGraphic" in2="NOISE" scale="50" xChannelSelector="R" yChannelSelector="R"></feDisplacementMap>
        </filter>
            
    </svg>

    <span class="c-photo_name" data-serie="zoomName"></spanclass>title</span>
    <button class="c-photo_close a" data-serie="leaveZoom">
        <span class="c-photo_close_bar js-header-bar"></span>
        <span class="c-photo_close_bar js-header-bar"></span>
    </button>
</section>