<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="notranslate">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="pinterest" content="nopin" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{ if .Params.meta_description }}{{ .Params.meta_description }}{{ else }}{{ .Site.Title }} - {{.Page.Title}}{{end}} " />
    <title>{{ if .Params.meta_title }}{{ .Params.meta_title }}{{ else }}{{ .Site.Title }} - {{.Page.Title}}{{ end }}</title>
    {{ $assets := .Site.Data.assets }}
    {{ with $assets.css }}
    <link href="{{ relURL . }}" rel="stylesheet" />
    {{ end }}
  </head>
  <body data-barba="wrapper" data-module-load>
    <div data-barba="container" data-barba-namespace="{{ .Params.namespace }}">
     
      {{ block "header" . }}
        <!-- default header -->
        {{ partial "header.html" .}}
      {{ end }}
      
      <div class="o-wrapper">
          {{ block "main" . }}{{ end }}
          <!-- <canvas id="app"></canvas> -->
      </div>
      
    </div>
    <svg class="cursor" width="140" height="140" viewBox="0 0 140 140" data-module-cursor="main">
      <defs>
        <filter id="filter-1" x="-50%" y="-50%" width="200%" height="200%" 
        filterUnits="objectBoundingBox">
          <feTurbulence type="fractalNoise" baseFrequency="0" numOctaves="1" result="warp" />
          <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="40" in="SourceGraphic" in2="warp" />
        </filter>
      </defs>
      <circle class="cursor__inner" cx="70" cy="70" r="60"/>
    </svg>
    <!-- <script src="https://embed.typeform.com/embed.js"></script> -->

    {{ with $assets.js }}
    <script src="{{ relURL .}}"></script>
    {{ end }}
  </body>
</html>