<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="notranslate">
  <head>

    {{ block "meta" . }}{{ end }}

    {{ $assets := .Site.Data.assets }}
    {{ with $assets.css }}
    <link href="{{ relURL . }}" rel="stylesheet" />
    {{ end }}
  </head>
  <body data-barba="wrapper" data-module-load>
    <!-- Google Tag Manager (noscript) -->
    {{ if eq (getenv "NODE_ENV") "production" }}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJL38CB&gtm_auth=1hVdQYb_ZUUZR2Wxs_i7VA&gtm_preview=env-1&gtm_cookies_win=x" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {{ else if eq (getenv "NODE_ENV") "stage"}}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJL38CB&gtm_auth=t2MFuWLYbJWkQOLxsR_VxA&gtm_preview=env-16&gtm_cookies_win=x"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {{ end }}
    <!-- End Google Tag Manager (noscript) -->

    <div data-barba="container" data-barba-namespace="{{ .Params.namespace }}">
     
      {{ block "header" . }}
        <!-- default header -->
        {{ partial "header.html" .}}
      {{ end }}
      

      <main class="o-wrapper">
        {{ block "main" . }}{{ end }}
      </main>
      
    </div>
    <svg class="cursor" width="140" height="140" viewBox="0 0 140 140" data-module-cursor="main">
      <defs>
        <filter id="filter-1" x="-50%" y="-50%" width="200%" height="200%" 
        filterUnits="objectBoundingBox">
          <feTurbulence type="fractalNoise" baseFrequency="0" numOctaves="1" result="warp" />
          <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="40" in="SourceGraphic" in2="warp" />
        </filter>
      </defs>
      <circle class="cursor__inner" cx="70" cy="70" r="60"/>
      <g id="arrow" class="cursor__inner cursor__inner--arrow" data-cursor="arrow">
        <line class="st0" x1="70" y1="100.1" x2="70" y2="40.1"/>
        <line class="st0" x1="51.8" y1="58.5" x2="70.4" y2="39.9"/>
        <line class="st0" x1="88.2" y1="58.5" x2="69.6" y2="39.9"/>
      </g>
    </svg>
    <!-- <script src="https://embed.typeform.com/embed.js"></script> -->

    {{ with $assets.js }}
    <script src="{{ relURL .}}"></script>
    {{ end }}
    {{ if eq (getenv "NODE_ENV") "stage"}}
    <script>console.log("STAGING")</script>
    {{ end }}
  </body>
</html>