@font-face {
    font-family: 'Morganite';
    src: url('Morganite-Black.woff2') format('woff2'),
        url('Morganite-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Morganite';
    src: url('Morganite-Bold.woff2') format('woff2'),
        url('Morganite-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Morganite';
    src: url('Morganite-BoldItalic.woff2') format('woff2'),
        url('Morganite-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Morganite';
    src: url('Morganite-Medium.woff2') format('woff2'),
        url('Morganite-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Morganite';
    src: url('Morganite-Light.woff2') format('woff2'),
        url('Morganite-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Morganite';
    src: url('Morganite-LightItalic.woff2') format('woff2'),
        url('Morganite-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
