.c-loader_title {
    mix-blend-mode: difference;
    opacity: 0;
}
.c-main {
    width: 100%;
    height: 100%;
    position: fixed;
    touch-action: none;

    &_indic {
        position: absolute;
        bottom: 4vh;
        width: 20vw;
        height: 20vw;

        @include media( '>medium' ) {
            width: 7vw;
            height: 7vw;
        }

        opacity: 0;
        visibility: hidden;

        &_svg {
            width: 100%;
            height: 100%;
            transform: rotate(-90deg);

            & > circle {
                stroke: color(typography, 2);
                stroke-dasharray: 500;
                stroke-dashoffset: 0; //2
            }
        }

        &_text {
            display: block;
            text-align: center;
            width: 100%;
            position: absolute;
            @include font-family(heading);
            @include font-weight(semibold);  
            font-style: italic;  
            text-transform: uppercase;
            font-size: 3vw;
            letter-spacing: .2vw;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%,-50%,0);

            @include media( '>medium' ) {
                font-size: 1vw;
                letter-spacing: .05vw;
            }
        }
    }

    &_series {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        will-change: transform;
        opacity: 0;
        visibility: hidden;
        @include media( '>medium' ) {
            top: initial;
        }
    
        &_wrapper {
            position: relative;
            display: flex;
            list-style: none;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;

            @include media( '>medium' ) {
                flex-direction: row;
            }
        }
    }
    &_serie {
        @include font-family(heading);
        @include font-weight(black);
        letter-spacing: 1.6vw;
        font-size: 20vw;
        flex-shrink: 0;
        width: auto;
        margin: 6vh 0;
        color: transparent;
        text-transform: uppercase;

        @include media( '>medium' ) {
            margin: 0 10vw -3vw;
            padding-left: 1.5vw;
            font-size: 18.2vw;
        }

        & > a {
            text-decoration: none;
            color: transparent;
            @supports (-webkit-text-stroke: 1px color(typography, 2)) {
                color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: color(typography, 2);
            }
        }

        @supports (-webkit-text-stroke: 1px color(typography, 2)) {
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: color(typography, 2);
        }

        &:first-child {
            margin-top: 0;
            @include media( '>medium' ) {
                margin-top: initial;
                margin-left: 0;
            }
        }
        &:last-child {
            margin-bottom: 0;
            @include media( '>medium' ) {
                margin-top: 0;
                margin-bottom: -3vw;
                margin-right: 0;
            }
        }
    }

    &_infos {
        position: absolute;
        text-align: center;
        top: 55%;
        width: 100%;
        @include media( '>medium' ) {
            width: 50vw;
            left: 25vw; 
            top: 66%;
        }               
    }

    &_info {
        position: absolute;
        top: 0;
        width: 100%;
        @include media( '>medium' ) {
            width: initial;
            left: 50%;
            transform: translateX(-50%);
        }

        &:not(:first-child) > a {
            display: none;
        } 

        &_desc {
            @include font-weight(light);
            @include font-family(heading);
            letter-spacing: .3vw;
            font-size: 7.5vw;
            margin: 0 0 8vw; 

            @include media( '>medium' ) {
                font-size: 2.5vw;
            }

            & > .char {
                opacity: 0;
                visibility: hidden;
            }
        }

        &_cover {
            display: none;
        }

        &_link {
            position: relative;
            @include font-weight(medium);
            @include font-family(heading);
            font-size: 1.6vw;
            letter-spacing: .1vw;
            font-style: italic;
            text-transform: uppercase;
            text-decoration: none;

            opacity: 0;
            visibility: hidden;
            @include media( '<medium' ) { // messy hack...
                opacity: 0 !important;
            }

            &_line {
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                width: 100%;
                height: .5px;
                transform: scaleX(0);
                background: color(typography, 2);
            }
        }
    }

    &_pic {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        width: 95vw;
        transform: translate3d(-50%,-50%,0);
        z-index: 1;

        &_img {
            max-width: 100%;
        }
    }

    &_container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;   
        z-index: 2;
        //display: none; // remove after dev
    }

    &_title {
        position: relative;
        width: 100%;
        margin: 2vw 0;
    }

    &_dates {
        position: relative;
        display: flex;
        align-self: flex-end;
        margin-right: 5.5vw;
    }

    &_cuallado {
        position: absolute;
        top: 0;
        opacity: 0;

        &--outlined {
            @supports (-webkit-text-stroke: 1px color(typography, 2)) {
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: color(typography, 2);
            }
            color: transparent;
            opacity: 1;
            mix-blend-mode: unset;
        }
    }
}

