.c-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: color(bg, 3);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    &_credits {
        color: color(typography, 1);
        margin: 7px 40px 0;
        font-size: 14px;
        letter-spacing: 3px;

        @include media( '>medium' ) {
            font-size: 16px;
            margin: 20px 80px 0;
        }
    }

    &_title {
        position: absolute;
        @include font-weight(black);
        letter-spacing: 3vw;
        font-size: 60vw;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        opacity: .2;
        color: transparent;
        white-space: nowrap;

        @include media( '>medium' ) {
            letter-spacing: 1.6vw;
            font-size: 20vw;
            padding-left: 2vw;

        }
    
        
        @supports (-webkit-text-stroke: .5px color(typography, 1)) {
            -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: color(typography, 1);
        }
    }

    &_list {
        position: relative;
        margin: 0 40px;
        padding: 0;
        z-index: 2;
        list-style: none;

       

        @include media( '>medium' ) {
            margin: 0 80px;
        }
    }

    &_wrapper {
        &:hover .c-nav_link {
            color: transparent;
            -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: color(typography, 1);
        }
    }

    &_mainlist {
        &_item {
            
            &_link {
                font-size: 60px;
                line-height: 1.1;
                letter-spacing: 0px;
                @include font-weight(black);
                @include media( '>medium' ) {
                    font-size: 80px;
                    line-height: 1;
                    letter-spacing: 2px;
                }
            } 
        }
    }

    &_secondlist {
        display: flex;
        flex-direction: row;

        &_item {
            position: relative;
            margin-right: 25px;
            &:not(:last-child):after {
                content: '';
                position: absolute;
                display: block;
                top: 60%;
                right: -15px;
                width: 6px;
                border-bottom: solid 1px color(typography, 1);
                @include media( '>medium' ) {
                    width: 10px;
                    top: 50%;
                }
            }

            &_link {
                @include font-weight(medium);
                font-size: 20px;
                letter-spacing: 2px;
                @include media( '>medium' ) {
                    font-size: 30px;
                    line-height: 20px;
                    letter-spacing: 8px;
                }
            } 
        }
    }
    &_openlist {
        display: flex;
        margin-bottom: 1.5rem;

        &:hover  {
            .c-nav_link {
                color: color(typography, 1) !important;
    
                & > span {
                    &::after, &::before {
                        transform: scaleX(1);
                    }
                    & > span {
                        &::after, &::before {
                            transform: scaleY(1);
                        }
                    }
                }
            }
            .c-nav_lang {
                opacity: .4;
            }

            .c-nav_openlist_title::before {
                transform: rotate(180deg);
            }
        }

        &_title {
            position: relative;
            font-size: 50px;
            line-height: 1.1;
            letter-spacing: 0px;
            @include font-weight(medium);
            @include media( '>medium' ) {
                font-size: 80px;
                line-height: 1;
                letter-spacing: 1px;
            }

            &::before {
                content: '';
                position: absolute;
                display: block;
                top: calc(50% - 4px);
                right: -16px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 0 6px 8px;
                border-color: transparent transparent transparent color(bg, 1);
                transition: .5s ease all;
            }
        }

        &_items {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            margin: 0;
            padding-left: 30px;
        }
    }

    &_lang {
        width: 30px;
        height: 30px;
        background: color(bg, 1);
        margin-right: 5px;
        opacity: 1;
        transition: .5s ease opacity;
        transition-delay: 0;

        @include media( '>medium' ) {
            opacity: 0;
        }

        &:nth-child(2) {
            transition-delay: .1s;
        }
        &:nth-child(3) {
            transition-delay: .2s;
         
        }

        &:hover {
            transition-delay: 0s !important;
            opacity: 1 !important;
        }
        
        &_link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            padding-top: 6px;
            font-size: 20px;
            @include font-weight(bold);
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.c-header_link,
.c-nav_link {
    position: relative;
    display: block;
    // width: 100%;
    color: color(typography, 1);
    text-transform: uppercase;
    text-decoration: none;
    margin: .5rem 0;
    // padding: 1rem 0;
    cursor: pointer;
    transition: .4s ease color;

    & > span {
        position: relative;
        &::after, &::before {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: -.3rem;
            width: calc(100% + .6rem);
            height: 1px;
            background-color: color(typography, 1);
            transform: scaleX(0);
            transition: .4s ease transform;
            transform-origin: 0 50%;
        }
    
        &::after {
            top: initial;
            bottom: 1rem;
            transform-origin: 100% 50%;
        }

        & > span {
            position: relative;
            &::after, &::before {
                content: '';
                position: absolute;
                display: block;
                top: -.2rem;
                left: 0;
                height: calc(100% - .6rem);
                width: 1px;
                background-color: color(typography, 1);
                transform: scaleY(0);
                transition: .4s ease transform;
                transform-origin: 50% 0%;
            }

            &::after {
                left: initial;
                right: 0;
                transform-origin: 50% 100%;
            }
        }
    }
    
    &:hover  {
        color: color(typography, 1) !important;

        & > span {
            &::after, &::before {
                transform: scaleX(1);
            }
            & > span {
                &::after, &::before {
                    transform: scaleY(1);
                }
            }
        }
    }

    @include media( '>medium' ) {
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: black;
    }

    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
        margin-top: -.5rem; // negative line height space on font
    }

    &:hover {
        color: transparent;
    }
}

.c-header_link {
    color: color(typography, 2);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: transparent;
    
    &:hover {
        color: inherit !important;
        text-shadow: .7px .7px 0 rgb(255,255,255),
                    -.7px -.7px 0 rgb(255,255,255),
                    .7px -.7px 0 rgb(255,255,255),
                    -.7px .7px 0 rgb(255,255,255),
                    -.7px 0px 0 rgb(255,255,255),
                    .7px 0px 0 rgb(255,255,255),
                    0px .7px 0 rgb(255,255,255),
                    0px -.7px 0 rgb(255,255,255);
    }

    & > span {
        &::after, &::before {
            background-color: color(typography, 2);
            width: calc(100% + .4rem);
        }
        &::before {
            top: -.2rem;
        }
        &::after {
            bottom: .3rem;
        }
        & > span {
            &::after, &::before {
                background-color: color(typography, 2);
                top: -.35rem;
                height: calc(100% + .2rem);
            }
            &::before {
                left: -.2rem;
            }
            &::after {
                right: 0;
            }
        }
    }
}