.c-publication {
    // margin-left: 5vw;
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
    min-width: 25vw;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: space-between;

    @include media( '>medium' ) {
        height: 60vh;
        margin-top: 20vh;
        text-align: left;
    }

    &--centered {
        justify-content: center;
    }

    &--horizontal {
        @include media( '>medium' ) {
            flex-flow: row nowrap;
        }
    }

    &_item {
        position: relative;
        list-style: none;
        margin: 2vh 2vh;
        @include media( '>medium' ) {
            margin: 0 2vh;
            display: flex;
            width: 50vw;
            min-width: 700px;
        }

        &:hover {
            .c-publication_illu_img {
                transform: translate3D(0,-40px,0)
            }
            .c-publication_item_background_img {
                opacity: .8;
            }
        }

        &_background {
            position: absolute;
            width: 100%;
            z-index: 0;
            top: 15%;

            @include media( '>medium' ) {
                left: 12%;
                top: 20%;
            }

            &_img {
                background: #C4C4C4;
                height:  100px;
                width: 90%;
                margin: auto;
                left: 5%;
                transform: rotate(11.83deg);
                opacity: .1;
                transition: 1s ease opacity;
                @include media( '>medium' ) {
                    width: 60%;
                    top: 40%;
                    left: 0;
                    margin: initial;
                    transform: rotate(11.83deg) scaleY(0);
                }
            }
        }
    }

    &_illu {
        max-width: 50%;
        margin: auto;
        position: relative;
        z-index: 1;
        @include media( '>medium' ) {
            margin: 0 50px 0 50px;
            max-width: 50%;
        }

        &_img {
            width: 100%;
            max-width: 250px;
            transition: .3s ease transform;
        }
    }

    &_wording {
        position: relative;
        font-style: italic;
        margin: 5vh 0 20vw;
        z-index: 9;
        @include media( '>medium' ) {
            margin: 13vh 0 0;
        }

        &_date {
            @include font-family(heading);
            font-size: 36px;
            margin: 0 0 .5rem 0;
            letter-spacing: .2rem;
            @include media( '>medium' ) {
                margin: 0 0 2rem 0;
            }
        }
        &_title {
            @include font-weight(bold);
            font-size: 24px;
            margin: 0 0 .5rem 0;
            @include media( '>medium' ) {
                font-size: 26px;
                padding-right: 3vw;
                line-height: 1.4;
            }
        }
        &_editor {
            font-size: 18px;
            margin: 0 0 2rem 0;
            @include media( '>medium' ) {
                font-size: 20px;
                padding-right: 3vw;
                line-height: 1.4;
            }
        }
        &_link {
            margin-bottom: 3rem;
        }
    }
}