.c-timeline {
    padding: 0;

    & &_section_line {
        @include media( '>medium' ) {
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 1px;
                height: 50vh;
                top: -25vh;
                left: -3px;
                background: white;
                transform: scaleX(.5);
                transform-origin: center;
            }
        }
    }
    & ~ & &_section_line{
        &::before {
            display: none;
        }
    }
    &:last-child {
        .c-timeline_section_line{
            @include media( '>medium' ) {
                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 1px;
                    height: 50vh;
                    top: -25vh;
                    right: -3px;
                    left: initial;
                    background: white;
                    transform: scaleX(.5);
                    transform-origin: center;
                }
            }
        }
    }

    &_section {
        position: relative;
        width: 100%;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5vw 15vw 5vw 4vw;
        text-align: right;

        @include media( '>medium' ) {
            width: 60vw;
            height: 100vh;
            margin: 0 2px;
            padding: 0;
            text-align: left;
        }

        &_line {
            position: absolute;
            z-index: 3; 
            height: 100%;
            right: 10%;
            width: 2px;
            border-left: dashed 1px white; 

            @include media( '>medium' ) {
                height: 2px;
                left: initial;
                top: 50%;
                right: 0;
                width: 50%;
                border-bottom: dashed 1px white;
                transform: scaleX(2) scaleY(.7);
                transform-origin: 100% 50%;
                border-left: none;
            }
        }
    }

    &_date {
        position: relative;
        // top: 50%;
        // right: 19%;
        // transform: translate3d(-50%, -50%, 0);
        font-size: 90px;
        font-style: italic;
        @include font-family(heading);
        @include font-weight(bold);
        letter-spacing: 6px;
        z-index: 3;  
        cursor: pointer;

        @include media( '>medium' ) {
            position: absolute;
            top: 34%;
            left: 50%;
            right: initial;
        }
    }

    &_link {
        text-decoration: none;
        width: 100%;
        &:hover {
            &  .c-timeline_img {
                opacity: 1;
            }
        }
    }

    &_name {
        position: relative;
        // top: 60%;
        max-width: 100%;
        // right: 10%;
        font-size: 40px;
        @include font-family(heading);
        @include font-weight(bold);
        letter-spacing: 6px;
        z-index: 2;
        cursor: pointer;

        @include media( '>medium' ) {
            position: absolute;
            max-width: 40vw;
            width: 100%;
            left: calc(50% - 10px);
            right: initial;
            top: 60%;
            transform: translate3d(0, -50%, 0);
        }

        

        &_place {
            font-size: 20px;
            @include font-weight(light);
        }
    }

    &_img {
        position: absolute;
        opacity: .4;
        transition: opacity 1s ease;
        z-index: 1;
        max-width: 50%;

        & > img {
            width: 100%;
        }

        &.c-about_img {
            position: relative;
            max-width: 100%;
            opacity: 1;

            @include media( '<medium' ) {
                top: 0 !important;
                left: 0 !important;
            }
        }
    }

    &_point {
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: white;
        border-radius: 20px;
        top: calc(50% - 6px);
        left: calc(90% - 6px);
        z-index: 3; 
        
        @include media( '>medium' ) {
            left: calc(50% - 6px);
        }
    }

    @include media( '>medium' ) {
    &:first-child {
        @include media( '>medium' ) {
            margin-left: 10vw;
        }
        & .c-timeline_section_line {
            height: 50%;
            top: 50%;

            @include media( '>medium' ) {
                height: 2px;
                width: 50%;
                left: 50%;
            }
        }
    }
    &:last-child {
        @include media( '>medium' ) {
            margin-right: 10vw;
        }
    }

    &:nth-child(2n) {
        & .c-timeline_date {
            
            @include media( '>medium' ) {
                top: 56%;
            }
        }
        & .c-timeline_name {
            @include media( '>medium' ) {
                bottom: 60%;
                top: inherit;
                transform: translate3d(0, 50%, 0);
            }
        }

        & .c-timeline_img {
            top: inherit;
            bottom: 28%;
        }
    }
    &:nth-child(3n) {
        & .c-timeline_img {
            top: inherit;
            bottom: 45%;
        }
    }
}
}