.c-timeline {
    padding: 0;

    &_section {
        position: relative;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media( '>medium' ) {
            width: 45vw;
            height: 100vh;
        }

        &_line {
            position: absolute;
            z-index: 3; 
            height: 100%;
            right: 10%;
            width: 2px;
            border-left: dashed 1px white; 

            @include media( '>medium' ) {
                height: 2px;
                left: initial;
                top: 50%;
                right: 0;
                width: 100%;
                border-bottom: dashed 2px white;
                border-left: none;
            }
        }
    }

    &_date {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate3d(-50%, -50%, 0);
        font-size: 90px;
        font-style: italic;
        @include font-weight(bold);
        letter-spacing: 6px;
        z-index: 3;  
        cursor: pointer;

        @include media( '>medium' ) {
            top: 40%;
            left: 50%;
            right: initial;
        }

      
    }

    &_link {
        &:hover {
            &  .c-timeline_img {
                opacity: 1;
            }
        }
    }

    &_name {
        position: absolute;
        top: 60%;
        max-width: 50%;
        right: 10%;
        font-size: 26px;
        @include font-weight(bold);
        letter-spacing: 6px;
        z-index: 2;
        cursor: pointer;

        @include media( '>medium' ) {
            max-width: 30vw;
            left: calc(50% - 10px);
            right: initial;
            top: 62%;
            transform: translate3d(0, -50%, 0);
        }

        

        &_place {
            font-size: 20px;
            @include font-weight(light);
        }
    }

    &_img {
        position: absolute;
        // transform: translate3d(-40%,-50%,0);
        
        // left: 50%;
        // top: 65%;
        opacity: .4;
        transition: opacity 1s ease;
        z-index: 1;

        & > img {
            max-width: 50%;
        }
    }

    &_point {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 20px;
        top: calc(50% - 10px);
        left: calc(90% - 10px);
        z-index: 3; 
        
        @include media( '>medium' ) {
            left: calc(50% - 10px);
        }
    }

    &:first-child {
        @include media( '>medium' ) {
            margin-left: 10vw;
        }
        & .c-timeline_section_line {
            height: 50%;
            top: 50%;

            @include media( '>medium' ) {
                height: 2px;
                width: 50%;
                left: 50%;
            }
        }
    }
    &:last-child {
        @include media( '>medium' ) {
            margin-right: 10vw;
        }
        // & .c-timeline_section_line {
        //     width: 52%;
        //     right: 50%;
        // }
    }

    &:nth-child(2n) {
        & .c-timeline_date {
            
            @include media( '>medium' ) {
                top: 62%;
            }
        }
        & .c-timeline_name {
            @include media( '>medium' ) {
                bottom: 63%;
                top: inherit;
                transform: translate3d(0, 50%, 0);
            }
        }

        & .c-timeline_img {
            top: inherit;
            bottom: 60%;
            transform: translate3d(-30%, 50%, 0);
        }
    }
    &:nth-child(3n) {
        & .c-timeline_img {
            top: inherit;
            bottom: 50%;
            transform: translate3d(-40%, 50%, 0);
        }
    }
}