
{{ define "meta" }}
  {{ partial "meta.html" . }}
{{ end }}

{{ define "main" }}

  <section>
    <div class="container">
      <section class="c-contact js-section">
          <div class="c-contact_zone">
            <div class="c-contact_zone_inner">
              <div class="c-contact_desc">TO BUY AN ARTWORK</div>
              <div class="c-contact_info c-contact_info--email"><a href="mailto:">galeria@blancaberlingaleria.com</a></div>
              <div class="c-contact_info c-contact_info--phone">+34 91 54 29 313</div>
              <div class="c-contact_country">
                Galeria Blanca Berlin<br>Galeria Blanca Berlin
              </div>
            </div>
          </div>

          <div class="c-contact_zone">
            <div class="c-contact_zone_inner">
              <div class="c-contact_desc">FOR GENERAL INQUIRIES</div>
              <div class="c-contact_info c-contact_info--email"><a href="mailto:">galeria@blancaberlingaleria.com</a></div>
              <div class="c-contact_info c-contact_info--phone"></div>              
              <div class="c-contact_country">
                Galeria Blanca Berlin<br>Galeria Blanca Berlin
              </div>
            </div>
          </div>
      </section>
      <div class="c-ml">© Gabriel Cualladó - <a href="">Legal</a></div>
    </div>
  </section>
{{ end }}