
{{ define "meta" }}
  {{ partial "meta.html" . }}
{{ end }}

{{ define "main" }}
  <section>
    <div class="container">
      <section class="c-contact js-section js-contact">
          <div class="c-contact_zone">
            <div class="c-contact_zone_inner">
              <div class="c-contact_desc js-contact-anim">{{.Params.buy.label}}</div>
              <div class="c-contact_info c-contact_info--email js-contact-anim"><a href="mailto:{{ trim .Params.buy.email " "}}" data-context="Email">{{trim .Params.buy.email " "}}</a></div>
              <div class="c-contact_info c-contact_info--phone {{if isset .Params.buy "phone"}}js-contact-anim{{end}}">{{.Params.buy.phone}}</div>
              <div class="c-contact_country js-contact-anim">
                {{ htmlUnescape .Params.buy.countries | safeHTML}}
              </div>
            </div>
          </div>

          <div class="c-contact_zone">
            <div class="c-contact_zone_inner">
              <div class="c-contact_desc js-contact-anim">{{.Params.general.label}}</div>
              <div class="c-contact_info c-contact_info--email js-contact-anim"><a href="mailto:{{ trim .Params.general.email " "}}" data-context="Email">{{trim .Params.general.email " "}}</a></div>
              <div class="c-contact_info c-contact_info--phone js-contact-anim {{if isset .Params.general "phone"}}js-contact-anim{{end}}">{{.Params.general.phone}}</div>              
              <div class="c-contact_country js-contact-anim">
                {{ htmlUnescape .Params.general.countries | safeHTML}}
              </div>
            </div>
          </div>
      </section>
      <div class="c-ml">©Gabriel Cualladó {{ dateFormat "2006" now }} – <a href="{{.Params.legal.link}}" target="_blank">{{.Params.legal.label}}</a><br>Design by <a href="https://www.bolk.studio/">Bolk</a> | Code by <a href="https://www.jaunebleu.co/?utm_source=gabriel-cuallado.com&utm_medium=referral&utm_campaign=cuallado+2021&utm_content=credits">jaune bleu</a></div>
    </div>
  </section>
{{ end }}