
{{ define "main" }}
<!-- <div data-module-serie>
  <button data-serie="one">One</button>
  <button data-serie="all">All</button>
</div> -->
<nav class="c-innernav">
  <a class="c-innernav_link c-innernav_link--active" href="#">Biography</a>
  <a class="c-innernav_link" href="#">Publications</a>
  <a class="c-innernav_link" href="#">Awards</a>
  <a class="c-innernav_link" href="/collectors">Collections</a>
</nav>

  <section data-module-scroll="main" data-module-parallaxe class="o-scroll">
    <div class="container">
      <section class="o-section js-section" data-scroll-section>
        <div class="c-serie_container c-about_img1">
          <img class="o-img" src="/img/FOTOS-PRUEBA/CATALOGO-CUALLADO-EXPO-CANAL-68.jpg"  data-parallaxe="img">
          <!-- <span class="c-serie_def">El Rastro. Madrid, 1980-1981</span class="c-serie_def"> -->
        </div>

        <div class="c-container c-about_txt1" data-parallaxe="text">
          <h1 class="o-text o-title">GABRIEL CUALLADO</h1>
          <h2 class="o-text o-subtitle">FROM MASSANASSA TO MADRID, VALENCIA AND PARIS</h2>
          <div class="c-section_para">
            <p class="o-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum leo scelerisque metus tristique consectetur. In tincidunt dui et felis ullamcorper mattis. Donec ornare ornare ipsum, vel varius eros maximus at. Nunc porta, est sit amet viverra auctor, ex lorem accumsan eros, sit amet placerat lectus magna id velit.</p>
          </div>
          <!-- <img class="o-img" src="/img/FOTOS-PRUEBA/CATALOGO-CUALLADO-EXPO-CANAL-103.jpg" > -->
        </div>
       

      </section>
      <section class="o-section js-section" data-scroll-section>
        <div class="c-container c-about_img2" data-parallaxe="text">
          <img class="o-img c-about_img2_img" src="/img/asturias/F0571-PADRE-DE-CARMITA.jpg">
          <div class="c-quote c-quote_about1">
            <span class="c-quote_cite">AN IMAGE IS SILENCE.</span>
            <span class="c-quote_author">Antonio tabernero</span>
          </div>
        </div>
        <div class="c-container c-about_txt2" data-parallaxe="text">
          <div class="c-section_para c-section_para--columns">
            <p class="o-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum leo scelerisque metus tristique consectetur. In tincidunt dui et felis ullamcorper mattis. Donec ornare ornare ipsum, vel varius eros maximus at. Nunc porta, est sit amet viverra auctor, ex lorem accumsan eros, sit amet placerat lectus magna id velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum leo scelerisque metus tristique consectetur. In tincidunt dui et felis ullamcorper mattis. Donec ornare ornare ipsum, vel varius ero.</p>
          </div>
          <!-- <img class="o-img" src="/img/FOTOS-PRUEBA/CATALOGO-CUALLADO-EXPO-CANAL-103.jpg" > -->
        </div>
      </section>


      <!-- <section class="o-section js-section" data-scroll-section>
        <div class="c-container c-serie1_img5">
          <img class="o-img" src="/img/asturias/F0570-FAMILIA-CAMPESINA-ASTURIANA.jpg">
          <span class="c-serie_def">El Rastro. Madrid, 1980-1981</span>
        </div>
        <div class="c-container c-serie1_img6">
          <img class="o-img" src="/img/asturias/F0571-PADRE-DE-CARMITA.jpg">
          <span class="c-serie_def">El Rastro. Madrid, 1980-1981</span>
        </div>
      </section> -->
    </div>
  </section>
{{ end }}