
{{ define "main" }}
<nav class="c-innernav">
  {{- $currentPage := . -}}
    {{ range .Site.Menus.about }}
      {{ $isMenuCurrent := eq (.URL | absLangURL ) ($currentPage.Permalink | absLangURL)}}
      <a class="c-innernav_link {{ if $isMenuCurrent}} c-innernav_link--active {{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
    {{ end }}
</nav>

  <section data-module-scroll="main" data-module-parallaxe class="o-scroll">
    <div class="container">
      <section class="o-section o-section_content js-section" data-scroll-section>

          {{ range .Params.content }}
            {{ if eq .template "about-text" }}
              <div class="c-container c-about_txt" data-parallaxe="text" style="{{ if ne .top "0" }}top: {{ .top }}vh;{{ end }}{{ with .left }}left: {{ . }}vw{{ end }}">
              {{ with .title }}<h1 class="o-text o-title">{{ . }}</h1>{{ end }}
              {{ with .subtitle }}<h2 class="o-text o-subtitle">{{ . }}</h2>{{ end }}
              {{ with .text }}
                <div class="c-section_para">
                  <p class="o-text">{{ . }}</p>
                </div>
              {{ end }}
            </div>
            {{ else if eq .template "about-image"}}
            <div class="c-container c-about_img" style="{{ if ne .top "0" }}top: {{ .top }}vh;{{ end }}{{ with .left }}left: {{ . }}vw{{ end }}">
              {{ with .image }}
              <div class="c-serie_container" data-parallaxe="img" data-speed=".08">
                <img class="o-img c-about_img_img js-prlx-img" src="{{ . }}">
              </div>
              {{ end }}
              {{ if eq .citation true}}
              <div class="c-quote c-quote_about" data-parallaxe="text">
                <span class="c-quote_cite">{{ .citation_text }}</span>
                <span class="c-quote_author">{{ .citation_author }}</span>
              </div>
              {{ end }}
            </div>
            

            {{ else if eq .template "about-link"}}
            <div class="c-container c-about_img" style="{{ if ne .top "0" }}top: {{ .top }}vh;{{ end }}{{ with .left }}left: {{ . }}vw{{ end }}">
              {{ with .image }}
              <div class="c-serie_container" data-parallaxe="img" data-speed=".08">
                <img class="o-img c-about_img_img js-prlx-img" src="{{ . }}">
              </div>
              {{ end }}
              <div class="c-quote c-quote_about" data-parallaxe="text">
                <a class="c-quote_cite" href="{{ .url }}">{{ .link_description }}</a>
              </div>
            </div>
            {{ end }}
          {{ end}}
      </section>
    </div>
  </section>
{{ end }}