
{{ define "main" }}
<!-- <div data-module-serie>
  <button data-serie="one">One</button>
  <button data-serie="all">All</button>
</div> -->

<nav class="c-innernav">
  <a class="c-innernav_link" href="/about">Biography</a>
  <a class="c-innernav_link" href="#">Publications</a>
  <a class="c-innernav_link" href="#">Awards</a>
  <a class="c-innernav_link c-innernav_link--active" href="/collectors">Collections</a>
</nav>

<div class="c-static">
  <img class="c-static_pic" src="/img/FOTOS-PRUEBA/CATALOGO-CUALLADO-EXPO-CANAL-115.jpg">
</div>

  <section data-module-scroll="main" data-module-parallaxe class="o-scroll">
    <div class="container">
      <section class="o-section c-section_list js-section" data-scroll-section>
        <ul class="c-list">
          <li class="c-list_item">
            <a class="c-list_link" href="#">
              <span class="c-list_title">National library of france</span>
              <span class="c-list_subtitle">France</span>
            </a>
          </li>
          <li class="c-list_item">
            <a class="c-list_link" href="#">
              <span class="c-list_title">National library of france</span>
              <span class="c-list_subtitle">France</span>
            </a>
          </li>
          <li class="c-list_item">
            <a class="c-list_link" href="#">
              <span class="c-list_title">National library of france</span>
              <span class="c-list_subtitle">France</span>
            </a>
          </li>
        </ul>
      </section>
      <section class="o-section c-section_list js-section" data-scroll-section>
        <ul class="c-list">
          <li class="c-list_item">
            <a class="c-list_link" href="#">
              <span class="c-list_title">National library of france</span>
              <span class="c-list_subtitle">France</span>
            </a>
          </li>
          <li class="c-list_item">
            <a class="c-list_link" href="#">
              <span class="c-list_title">National library of france</span>
              <span class="c-list_subtitle">France</span>
            </a>
          </li>
          <li class="c-list_item">
            <a class="c-list_link" href="#">
              <span class="c-list_title">National library of france</span>
              <span class="c-list_subtitle">France</span>
            </a>
          </li>
        </ul>
      </section>
      <section class="o-section c-section_list js-section" data-scroll-section>
        <ul class="c-list">
          <li class="c-list_item">
            <a class="c-list_link" href="#">
              <span class="c-list_title">National library of france</span>
              <span class="c-list_subtitle">France</span>
            </a>
          </li>
          <li class="c-list_item">
            <a class="c-list_link" href="#">
              <span class="c-list_title">National library of france</span>
              <span class="c-list_subtitle">France</span>
            </a>
          </li>
          <li class="c-list_item">
            <a class="c-list_link" href="#">
              <span class="c-list_title">National library of france</span>
              <span class="c-list_subtitle">France</span>
            </a>
          </li>
        </ul>
      </section>
      <section class="o-section c-section_list js-section" data-scroll-section>
        <ul class="c-list">
          <li class="c-list_item">
            <a class="c-list_link" href="#">
              <span class="c-list_title">National library of france</span>
              <span class="c-list_subtitle">France</span>
            </a>
          </li>
          <li class="c-list_item">
            <a class="c-list_link" href="#">
              <span class="c-list_title">National library of france</span>
              <span class="c-list_subtitle">France</span>
            </a>
          </li>
          <li class="c-list_item">
            <a class="c-list_link" href="#">
              <span class="c-list_title">National library of france</span>
              <span class="c-list_subtitle">France</span>
            </a>
          </li>
        </ul>
      </section>
      <section class="o-section c-section_list js-section" data-scroll-section>
        <ul class="c-list">
          <li class="c-list_item">
            <a class="c-list_link" href="#">
              <span class="c-list_title">National library of france</span>
              <span class="c-list_subtitle">France</span>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </section>

  <aside id="meta">
      <div>
          {{ with .PrevInSection }}
            <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
          {{ end }}
          {{ with .NextInSection }}
            <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
          {{ end }}
      </div>
    </aside>
{{ end }}