
{{ define "main" }}
<!-- <div data-module-serie>
  <button data-serie="one">One</button>
  <button data-serie="all">All</button>
</div> -->
  <nav class="c-innernav">
    <a class="c-innernav_link c-innernav_link--active" href="#">Individual</a>
    <a class="c-innernav_link" href="#">Collective</a>
  </nav>
  
  <section data-module-scroll="main" data-module-parallaxe class="o-scroll">
    <div class="container">
      {{ range .Params.exhibition }}
      <section class="o-section c-timeline js-section" data-scroll-section>
        <div class="c-timeline_section">

          <div class="c-timeline_section_line"></div>

          <div class="c-timeline_date" data-parallaxe="text">2019</div>
          <div class="c-timeline_point"></div>
          <div class="c-timeline_name" data-parallaxe="text">
            <span>“Cuallado Essential” La Pedrera</span>
            <span class="c-timeline_name_place">BARCELONA</span>
          </div>
          <img class="c-timeline_img" src="/img/asturias/F0567-PEPE CON-CABALLO-BLANCO.jpg" data-parallaxe="img">

        </div>
      </section>
      {{ end }}
      <!-- <section class="o-section c-timeline js-section" data-scroll-section>
        <div class="c-timeline_section">
          <div class="c-timeline_section_line"></div>

          <div class="c-timeline_date" data-parallaxe="text">2019</div>
          <div class="c-timeline_point"></div>
          <div class="c-timeline_name" data-parallaxe="text">
            <span>“Cuallado Essentiel”, Salle Canal Isabel II, Communauté Autonome de Madrid</span>
            <span class="c-timeline_name_place">BARCELONA</span>
          </div>
          <img class="c-timeline_img" src="/img/asturias/F0562-HIJA-DE-JESUS.jpg" data-parallaxe="img">

        </div>
      </section>
      <section class="o-section c-timeline js-section" data-scroll-section>
        <div class="c-timeline_section">
          <div class="c-timeline_section_line"></div>

          <div class="c-timeline_date" data-parallaxe="text">2019</div>
          <div class="c-timeline_point"></div>
          <div class="c-timeline_name" data-parallaxe="text">
            <span>“Cuallado Essential” La Pedrera</span>
            <span class="c-timeline_name_place">BARCELONA</span>
          </div>
          <img class="c-timeline_img" src="/img/asturias/F0571-PADRE-DE-CARMITA.jpg" data-parallaxe="img">

        </div>
      </section>
      <section class="o-section c-timeline js-section" data-scroll-section>
        <div class="c-timeline_section">

          <div class="c-timeline_section_line"></div>

          <div class="c-timeline_date" data-parallaxe="text">2019</div>
          <div class="c-timeline_point"></div>
          <div class="c-timeline_name" data-parallaxe="text">
            <span>“Cuallado Essential” La Pedrera</span>
            <span class="c-timeline_name_place">BARCELONA</span>
          </div>
          <img class="c-timeline_img" src="/img/asturias/F0567-PEPE CON-CABALLO-BLANCO.jpg" data-parallaxe="img">


        </div>
      </section>
      <section class="o-section c-timeline js-section" data-scroll-section>
        <div class="c-timeline_section">
          <div class="c-timeline_section_line"></div>

          <div class="c-timeline_date" data-parallaxe="text">2019</div>
          <div class="c-timeline_point"></div>
          <div class="c-timeline_name" data-parallaxe="text">
            <span>“Cuallado Essentiel”, Salle Canal Isabel II, Communauté Autonome de Madrid</span>
            <span class="c-timeline_name_place">BARCELONA</span>
          </div>
          <img class="c-timeline_img" src="/img/asturias/F0562-HIJA-DE-JESUS.jpg" data-parallaxe="img">

        </div>
      </section>
      <section class="o-section c-timeline js-section" data-scroll-section>
        <div class="c-timeline_section">
          <div class="c-timeline_section_line"></div>

          <div class="c-timeline_date" data-parallaxe="text">2019</div>
          <div class="c-timeline_point"></div>
          <div class="c-timeline_name" data-parallaxe="text">
            <span>“Cuallado Essential” La Pedrera</span>
            <span class="c-timeline_name_place">BARCELONA</span>
          </div>
          <img class="c-timeline_img" src="/img/asturias/F0571-PADRE-DE-CARMITA.jpg" data-parallaxe="img">

        </div>
      </section> -->
    </div>
  </section>
{{ end }}