
{{ define "main" }}
<nav class="c-innernav">
  {{- $currentPage := . -}}
    {{ range .Site.Menus.about }}
      {{ $isMenuCurrent := eq (.URL | absLangURL ) ($currentPage.Permalink | absLangURL)}}
      <a class="c-innernav_link {{ if $isMenuCurrent}} c-innernav_link--active {{ end }}" href="{{ .URL | absLangURL }}" data-link="menu">{{ .Name }}</a>
    {{ end }}
</nav>
  <section data-module-scroll="main" data-module-parallaxe class="o-scroll">
    <div class="container">
      {{/* get range data length */}}
      {{ $len := (len .Params.publication) }}

      {{/* range over data */}}
      {{ range $i, $v := .Params.publication }}

        {{/* every 4 items (from 1) */}}
        {{ if modBool $i 4 }}

          {{/* only from 4th item */}}
          {{ if ne 0 $i }}
            {{/* closed tag */}}
              </ul>
            </section>
          {{ end }}

        {{/* open tag */}}
        <section class="o-section c-section_list js-section" data-scroll-section>
          <ul class="c-list c-list--horizontal">
        {{ end }}
            <li class="c-list_item">
              <a class="c-list_link c-list_link--horizontal" href="{{ .link }}" data-parallaxe="text">
                {{ with .logo }}<img alt="logo" class="c-list_logo" src="{{ . }}">{{ end }}
                {{ if .image}}
                  <div class="c-list_image {{ if eq .type "video" }}c-list_image--player{{ end}}" data-parallaxe="img" data-speed=".08"><img alt="{{ .title }}" class="js-prlx-img" src="{{ .image }}"></div>

                  <div class="c-list--horizontal_infos">
                    <div class="c-list_title c-list_title--cite">{{ .title }}</div>
                    <div class="c-list_subtitle u-link">{{ if eq .type "video" }}{{ i18n "watchVideo" }}{{else}}{{ i18n "readArticle" }}{{ end }}</div>  
                  </div>
                {{ end }}
              </a>
            </li>

        {{/* only for last item */}}
        {{ if eq (sub $len 1) $i }}
          {{/* closed tag */}}
            </ul>
          </section>
        {{ end }}
      {{ end }}
    </div>
  </section>

  <aside id="meta">
      <div>
          {{ with .PrevInSection }}
            <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
          {{ end }}
          {{ with .NextInSection }}
            <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
          {{ end }}
      </div>
    </aside>
{{ end }}