
{{ define "main" }}
<!-- <div data-module-serie>
  <button data-serie="one">One</button>
  <button data-serie="all">All</button>
</div> -->

  <nav class="c-innernav">
    <a class="c-innernav_link c-innernav_link--active" href="#">Séries 1</a>
    <a class="c-innernav_link" href="#">Séries 2</a>
    <a class="c-innernav_link" href="#">Séries 3</a>
    <a class="c-innernav_link" href="#">Séries 4</a>
  </nav>

  <section data-module-scroll="main" data-module-parallaxe class="o-scroll">
    <div class="container">
      <section class="o-section js-section" data-scroll-section>
        <div class="c-container c-serie1_img1" data-parallaxe>
          <img class="o-img" src="/img/asturias/F0467-PEPE-LUIS.jpg" >
          <span class="c-serie_def">El Rastro. Madrid, 1980-1981</span class="c-serie_def">
        </div>
        <div class="c-container c-serie1_img2" data-parallaxe>
          <img class="o-img" src="/img/asturias/F0560-BODEGA-EN-ASTURIAS.jpg">
          <span class="c-serie_def">El Rastro. Madrid, 1980-1981</span>
        </div>
        <div class="c-container c-serie1_img3" data-parallaxe>
          <img class="o-img" src="/img/asturias/F0562-HIJA-DE-JESUS.jpg" >
          <span class="c-serie_def">El Rastro. Madrid, 1980-1981</span>
        </div>

      </section>
      <section class="o-section js-section" data-scroll-section>
        <div class="c-container c-serie1_img4" data-parallaxe>
          <img class="o-img" src="/img/asturias/F0567-PEPE CON-CABALLO-BLANCO.jpg">
          <span class="c-serie_def">El Rastro. Madrid, 1980-1981</span>
        </div>
      </section>
      <section class="o-section js-section" data-scroll-section>
        <div class="c-container c-serie1_img5" data-parallaxe>
          <img class="o-img" src="/img/asturias/F0570-FAMILIA-CAMPESINA-ASTURIANA.jpg">
          <span class="c-serie_def">El Rastro. Madrid, 1980-1981</span>
        </div>
        <div class="c-container c-serie1_img6" data-parallaxe>
          <img class="o-img" src="/img/asturias/F0571-PADRE-DE-CARMITA.jpg">
          <span class="c-serie_def">El Rastro. Madrid, 1980-1981</span>
        </div>
      </section>
    </div>
  </section>

  <aside id="meta">
      <div>
          {{ with .PrevInSection }}
            <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
          {{ end }}
          {{ with .NextInSection }}
            <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
          {{ end }}
      </div>
    </aside>
{{ end }}