* { box-sizing: border-box; }

body {
    background: color(bg, 1);
    color: color(typography, 2);
    @include font-family(base);
    @include font-weight(light);
    overscroll-behavior: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    width: 100vw;
    padding: 0;
    transition: opacity .5s ease;
    overflow-x: hidden;

    @include media( '>medium' ) {
        overflow: hidden;
    }
}

a {
    color: color(typography, 2);
}

p, blockquote {
    margin: 0;
}

.o-overflow{
    @include media( '>medium' ) {
        overflow: hidden;
        position: relative;
        height: 100vh;
    }
}
.o-scroller {
    display: none;
    @include media( '>medium' ) {
        position: absolute;
        display: block;
        bottom: 5vh;
        left: calc(50vw - 70px);
        width: 100px;
        height: 11.5px;
        clip-path: polygon(0 0,100% 0%, 100% 100%, 0 100%);

        &_img {
            width: 100%;
        }
    }
}

.o-scroll {
    position: relative;
    top: 0;
    left: 0;
    // &::before,
    // &::after {
    //     content: '';
    //     position: fixed;
    //     display: block;
    //     height: 20vh;
    //     width: 100%;
    //     left: 0;
    //     top: 0;
    //     background: linear-gradient(to bottom, $color1, transparent);
    //     z-index: 9;
    // }

    // &::after{
    //     top: initial;
    //     bottom: 0;
    //     background: linear-gradient(to top, $color1, transparent);
    // } 


    @include media( '>medium' ) {
        position: absolute;

        &::before,
        &::after {
            content: '';
            position: fixed;
            display: block;
            height: 100%;
            pointer-events: none;
            width: 20vw;
            left: 0;
            top: 0;
            background: linear-gradient(to right, $color1, transparent);
            z-index: 8;
        }

        &::after{
            left: initial;
            right: 0;
            background: linear-gradient(to left, $color1, transparent);
        }   
    }

    

    &_button {
        display: none;
        height: 70vh;
        top: 17vh;
        position: fixed;
        right: 0;
        background: transparent;
        width: 10vw;
        z-index: 9;
        cursor: pointer;

        @include media( '>medium' ) {
            display: block; 
        }

        &--prev {
            right: initial;
            left: 0;
            display: none;
        }
    }
}

.o-section {
    display: flex;
    flex-direction: column;
    padding: 0 4vw;
    align-items: start;
    justify-content: space-around;
    width: 100%;

    &--center {
        align-items: center;

    }

    @include media( '>medium' ) {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        height: 100vh;

        &:first-child {
            padding-left: 10vw;
        }
        &:last-child {
            padding-right: 20vw;
        }
    }

    &_content {
        align-items: center;
    }
}

[data-module-serie="main"] .o-section:last-child {
    @include media( '>medium' ) {
        padding-right: 35vw;
    }
}

#app,
.dom-gl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    flex-direction: column;
    padding: 60px 0 60px;

    @include media( '>medium' ) {
        flex-wrap: nowrap;
        width: auto;
        flex-direction: row;
        padding: 0;
        // width: 100vw;
        // overflow-y: hidden;
    }
}

.c-section_list {
    padding: 0;

    @include media( '>medium' ) {
        &:first-child {
            margin-left: 15vw;
        }
        &:last-child {
            margin-right: 15vw;
        }
    }
}

::selection {
    background: $color2; /* WebKit/Blink Browsers */
    color: $color1;
    text-shadow: none;
}
::-moz-selection {
    background: $color2; /* WebKit/Blink Browsers */
    color: $color1;
    text-shadow: none;
}