// --------------------------------------------
// Morganite ----------------------------------
// --------------------------------------------

@font-face {
    font-family: 'Morganite';
    src: url('../fonts/Morganite-Black.woff2') format('woff2'),
        url('../fonts/Morganite-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Morganite';
    src: url('../fonts/Morganite-Bold.woff2') format('woff2'),
        url('../fonts/Morganite-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Morganite';
    src: url('../fonts/Morganite-BoldItalic.woff2') format('woff2'),
        url('../fonts/Morganite-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Morganite';
    src: url('../fonts/Morganite-Medium.woff2') format('woff2-variations')
    //     url('../fonts/Morganite-Medium.woff') format('woff');
    // font-weight: 500;
    // font-style: normal;
}


@font-face {
    font-family: 'Morganite';
    src: url('../fonts/Morganite-Light.woff2') format('woff2-variations')
        // url('../fonts/Morganite-Light.woff') format('woff');
    // font-weight: 300;
    // font-style: normal;
}

@font-face {
    font-family: 'Morganite';
    src: url('../fonts/Morganite-LightItalic.woff2') format('woff2'),
        url('../fonts/Morganite-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
