
{{ define "meta" }}
  {{ partial "meta.html" . }}
{{ end }}

{{ define "main" }}
<nav class="c-innernav">
  {{- $currentPage := . -}}
    {{ range .Site.Menus.about }}
      {{ $isMenuCurrent := eq (.URL | absLangURL ) ($currentPage.Permalink | absLangURL)}}
      <a class="c-innernav_link {{ if $isMenuCurrent}} c-innernav_link--active {{ end }}" href="{{ .URL | absLangURL }}" data-link="menu">{{ .Name }}</a>
    {{ end }}
</nav>

  <section data-module-scroll="main" data-module-parallaxe class="o-scroll">
    <div class="c-static" >
      <img class="c-static_pic js-prlx-img" src="{{ .Params.background }}">
    </div>
    <div class="container">
      {{/* get range data length */}}
      {{ $len := (len .Params.award) }}

      {{/* range over data by date  */}}
      {{ range $i, $v := sort .Params.award "date" "desc"}}

        {{/* every 1 item (from 1) */}}
        {{ if modBool $i 1 }}

          {{/* only from 1st item */}}
          {{ if ne 0 $i }}
            {{/* closed tag */}}
              </ul>
            </section>
          {{ end }}

        {{/* open tag */}}
        <section class="o-section c-section_list js-section" data-scroll-section>
          <ul class="c-list c-list--centered">
        {{ end }}
            <li class="c-list_item">
              <div class="c-list_date">{{ dateFormat "2006" .date }}</div>
              <h2 class="c-list_title">{{ .name }}</h2>
              <div class="c-list_title c-list_title--under">{{ .from }}</div>
              <div class="c-list_subtitle">{{ .country }}</div>
            </li>

        {{/* only for last item */}}
        {{ if eq (sub $len 1) $i }}
          {{/* closed tag */}}
            </ul>
          </section>
        {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}