
{{ define "main" }}
<nav class="c-innernav">
  {{- $currentPage := . -}}
    {{ range .Site.Menus.about }}
      {{ $isMenuCurrent := eq (.URL | absLangURL ) ($currentPage.Permalink | absLangURL)}}
      <a class="c-innernav_link {{ if $isMenuCurrent}} c-innernav_link--active {{ end }}" href="{{ .URL | absLangURL }}" data-link="menu">{{ .Name }}</a>
    {{ end }}
</nav>
  <section data-module-scroll="main" data-module-parallaxe class="o-scroll">
    <div class="c-static">
      <img class="c-static_pic js-prlx-img" src="{{ .Params.background }}">
    </div>
    <div class="container">
      {{/* get range data length */}}
      {{ $len := (len .Params.publication) }}

      {{/* range over data */}}
      {{ range $i, $v := .Params.publication }}

        {{/* every 4 items (from 1) */}}
        {{ if modBool $i 4 }}

          {{/* only from 4th item */}}
          {{ if ne 0 $i }}
            {{/* closed tag */}}
              </ul>
            </section>
          {{ end }}

        {{/* open tag */}}
        <section class="o-section o-section--center c-section_list js-section" data-scroll-section>
          <ul class="c-publication c-publication--horizontal">
        {{ end }}
            <li class="c-publication_item">
              <div class="c-publication_item_background" data-parallaxe="bg" data-speed=".08">
                <div class="c-publication_item_background_img js-bg"></div>
              </div>
              <div class="c-publication_illu" data-parallaxe="illu" data-speed="-.07">
                <img class="c-publication_illu_img" src="{{ .image }}">
              </div>
              <div class="c-publication_wording">
                <div class="c-publication_wording_date" data-parallaxe="text" data-delay=".2">{{ dateFormat "2006" .date }}</div>
                <div class="c-publication_wording_title" data-parallaxe="text" data-delay=".35">{{ .title }}</div>
                <div class="c-publication_wording_editor" data-parallaxe="text" data-delay=".5">{{ .editor }}</div>
                <a class="c-publication_wording_link u-link" href="{{ .link }}" data-parallaxe="text" data-delay=".65">{{ .cta }}</a>
              </div>
            </li>

        {{/* only for last item */}}
        {{ if eq (sub $len 1) $i }}
          {{/* closed tag */}}
            </ul>
          </section>
        {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}