{{ define "main" }}
    <main aria-role="main" data-module-homepage="main" class="c-main">
      <div class="c-loader" id="js-loader">
        <div class="c-loader__container">
			<div class="c-main_pic" data-parallaxe="img" data-speed="0">
				{{/* test iteration sur gallery -> marche pas -> type ?? */}}
				{{ $paginator := .Paginate (where .Data.Pages "Type" "gallery") }}
				{{ range $paginator.Pages }}
					
				{{ end }}

				<img class="c-main_pic_img js-hp-img js-prlx-img" src="/img/hp/F0191-AUTORRETRATO.jpg" alt="">
			</div>

			<div class="c-main_container">
				<div class="c-main_dates o-dates js-loader-infos">
					<time datetime="1925-01-01T00:00:00">1925</time> – <time datetime="2003-05-30T00:00:00">2003</time>
				</div>
				<div class="c-main_title">
					<span class="o-cuallado c-main_cuallado c-loader_title" id="js-loader-title">GABRIEL CUALLADO</span>
					<span class="o-cuallado c-main_cuallado--outlined c-loader_title" id="js-loader-title-out">GABRIEL CUALLADO</span>	
					<span class="o-cuallado o-cuallado--rel o-cuallado--invisible">GABRIEL CUALLADO</span>	
				</div>
				<!-- <div class="o-cuallado o-cuallado--rel c-main_cuallado">GABRIEL CUALLADO</div> -->
				<div class="o-job js-loader-infos">Photographer</div>
				<div class="c-loader__slider" id="js-loader-slider"></div>
			</div>

        </div>
    </div>

      

        <!-- boucle sur les séries -->
        {{ range where .Pages "Type" "serie" }}
        <!-- <a href="{{.Permalink}}" class="">{{ .Title }}</a> -->
        {{ end }}
     
    </main>
{{ end }}