
{{ define "main" }}
<nav class="c-innernav">
  {{- $currentPage := . -}}
  {{ range .Site.Menus.exhibitions }}
    {{ $isMenuCurrent := eq (.URL | absLangURL ) ($currentPage.Permalink | absLangURL)}}
    <a class="c-innernav_link {{ if $isMenuCurrent}} c-innernav_link--active {{ end }}" href="{{ .URL | absLangURL }}" data-link="menu">{{ .Name }}</a>
  {{ end }}
</nav>

<section data-module-scroll="main" data-module-parallaxe class="o-scroll">
  <div class="container">
    {{ range .Params.exhibition  }}
    <article class="o-section c-timeline js-section" data-scroll-section>
      <a class="c-timeline_link" href="{{ .link }}">
        <div class="c-timeline_section">

          <div class="c-timeline_section_line"></div>

          <div class="c-timeline_date" data-parallaxe="text">{{ with .date}}{{ dateFormat "2006" . }}{{ end }}</div>
          <div class="c-timeline_point"></div>
          <div class="c-timeline_name" data-parallaxe="text">
            <span class="u-link">{{ .name }}</span>
            <div class="c-timeline_name_place">{{ .place }}</div>
          </div>
          <div class="c-timeline_img" data-parallaxe="img" data-speed="-.15">
            <img class="js-prlx-img" src="{{ .illustration }}" >
          </div>
        </div>
      </a>
    </article>
    {{ end }}
  </div>
</section>
{{ end }}