
{{ define "main" }}
<nav class="c-innernav">
  {{- $currentPage := . -}}
    {{ range .Site.Menus.about }}
      {{ $isMenuCurrent := eq (.URL | absLangURL ) ($currentPage.Permalink | absLangURL)}}
      <a class="c-innernav_link {{ if $isMenuCurrent}} c-innernav_link--active {{ end }}" href="{{ .URL | absLangURL }}" data-link="menu">{{ .Name }}</a>
    {{ end }}
</nav>

  <section data-module-scroll="main" data-module-parallaxe class="o-scroll">
    <div class="container">
      <section class="o-section o-section_content js-section" data-scroll-section>

        <div class="c-container c-about_img c-about_img--intro">
          {{ with .Params.introImage }}
          <div class="c-serie_container" data-parallaxe="img" data-speed="-.15">
            <img class="o-img c-about_img_img js-prlx-img" src="{{ . }}">
          </div>
          {{ end }}
        </div>
        <div class="c-container c-about_txt c-about_txt--intro" data-parallaxe="text">
          {{ with .Params.introTitle }}<h1 class="o-text o-title">{{ . }}</h1>{{ end }}
          {{ with .Params.introSubtitle }}<h2 class="o-text o-subtitle">{{ . }}</h2>{{ end }}
          {{ with .Params.introText }}
            <div class="c-section_para">
              <p class="o-text">{{ . }}</p>
            </div>
          {{ end }}
        </div>
      </section>
      {{ range .Params.content }}
        <article class="o-section c-timeline js-section" data-scroll-section>
            {{ if eq .template "about-text" }}
              {{ $left := .left}}
              {{ $top := .top}}
              <div class="c-container c-timeline_section c-about_txt">
                <div class="c-about_txt_titles" data-parallaxe="text">
                  {{ with .title }}<h1 class="o-text o-title">{{ . }}</h1>{{ end }}
                  {{ with .subtitle }}<h2 class="o-text o-subtitle">{{ . }}</h2>{{ end }}
                </div>

              <div class="c-timeline_section_line"></div>

              {{ with .text }}
                <div class="c-section_para c-about_txt_content" data-parallaxe="text">
                  <p class="o-text">{{ . }}</p>
                </div>
              {{ end }}
              {{ with .image}} 
              <div class="c-timeline_img  c-about_img" data-parallaxe="img" data-speed="-.15" style="{{ if ne $top "0" }}top: {{ $top }}vh;{{ end }}{{ with $left }}left: {{ . }}vw{{ end }}">
                <img class="js-prlx-img c-about_img_timeline" src="{{ . }}" >
              </div>
              {{ end }}
            </div>

            {{ else if eq .template "about-image"}}
              {{ $left := .left}}
              {{ $top := .top}}
            <div class="c-container c-timeline_section" >
              {{ with .image }}
              <div class="c-serie_container c-about_img" data-parallaxe="img" data-speed="-.15" style="{{ if ne $top "0" }}margin-top: {{ $top }}vh;{{ end }}{{ with $left }}margin-left: {{ . }}vw{{ end }}">
                <img class="o-img c-about_img--alone js-prlx-img" src="{{ . }}">
              </div>
              {{ end }}
              <div class="c-timeline_section_line"></div>

              {{ if eq .citation true}}
              <div class="c-quote c-quote_about" data-parallaxe="text">
                <span class="c-quote_cite">{{ .citation_text }}</span>
                <span class="c-quote_author">{{ .citation_author }}</span>
              </div>
              {{ end }}
            </div>
            

            {{ else if eq .template "about-link"}}
            {{ $left := .left}}
            {{ $top := .top}}
            <div class="c-container  c-timeline_section" >
              {{ with .image }}
              <div class="c-serie_container c-about_link" data-parallaxe="img" data-speed="-.15" style="{{ if ne $top "0" }}margin-top: {{ $top }}vh;{{ end }}{{ with $left }}margin-left: {{ . }}vw{{ end }}">
                <img class="o-img js-prlx-img" src="{{ . }}">
              </div>
              {{ end }}
              <div class="c-timeline_section_line"></div>

              <div class="c-quote c-quote_about" data-parallaxe="text">
                <a class="c-quote_cite" href="{{ .url }}"><span class="u-link u-link--mask">{{ .link_description }}</span></a>
              </div>
            </div>
            {{ end }}
          </article>
        {{ end}}
        <section class="o-section o-section_content js-section" data-scroll-section>
          {{ $data := index .Site.Data .Site.Language.Lang }}
        
          {{ range $data.presskits.presskit }}
            <div class="c-presskit">
              <a class="c-presskit_content" href="{{ .link }}">
                <div class="c-presskit_imgcontainer" data-parallaxe="img" data-speed="0">
                  <img src="{{ .img }}" class="o-img c-presskit_img js-prlx-img" >
                </div>
                <div class="c-presskit_wording" data-parallaxe="text">
                  <div class="c-presskit_wording_title o-title">{{ .wording }}</div>
                  <div class="c-presskit_wording_cta o-subtitle u-link u-link--simple">{{ .cta }}</div>
                </div>
              </a>
            </div>
          {{ end }}
        </section>

    </div>
  </section>
{{ end }}